src/config.hpp
**/*~
**/*.log
obj/
obj.dbg/
config.status
config.log
configure.scan
version-info*.txt
autom4te.cache/
.vscode/
GNUmakefile
rsrc/version.txt
src/revision.hpp
tortoize
.gdb_history
src/mrsrc.hpp
node_modules
docroot/css
docroot/scripts
rsrc/mmcif_*.dic*aclocal.m4
